*.xcuserstate
WeSplit/WeSplit.xcodeproj/xcuserdata/a17565501.xcuserdatad
WeSplit/WeSplit.xcodeproj/project.xcworkspace/xcuserdata
WeSplit/WeSplit.xcodeproj/project.xcworkspace/xcshareddata
UnitsConvertor/UnitsConvertor.xcodeproj/xcuserdata/a17565501.xcuserdatad
